html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header-flex {
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstlist {
    width: 274px;
    height: 44px;
    margin-left: 0px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hamburger {
    width: 26px;
    height: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    visibility: hidden;
}
.hamburger-span::after {
   content: "";
   width: 22px;
   height: 3px;
   background-color: black;
   border-radius: 10px;
   float: left;
}
.hamburger-links {
    display: flex;
    align-items: center;
}
.header-flex a {
    text-decoration: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}
.secondlist {
    width: 330px;
    height: 44px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.secondlist__link {
    text-decoration: none;
    width: 102px;
}
.secondlist__link--arrow:after {
    content: "";
    background: url(../assets/arrow-down.svg) no-repeat center;
    width: 20px;
    height: 20px;
    float: right;
}
.hero {
    width: 100%;
    height: 574px;
    display: inline-block;
}
.main-flex {
    width: 100%;
    height: 500px;
    margin-top: 28px;
    margin-bottom: 46px;
    display: inline-block;
    position: relative;
    background: url(../assets/bcg-main.svg) no-repeat center;
}
.content {
    width: 800px;
    height: 356px;
    margin: 80px 292px 64px 292px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text {
    width: 800px;
    height: 272px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text__title {
    width: 600px;
    height: 192px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
}
.content-text__text {
    width: 690px;
    height: 46px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}
.content-text__hidden {
    width: 690px;
    height: 46px;
    margin-top: -57px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    visibility: hidden;
}
.btn {
    font-family: 'Syne';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 16px 20px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
}
.header-main__firstshape {
    position: absolute;
    top: -23px;
    left: 53px;
}
.header-main__secondshape {
    position: absolute;
    left: 16px;
    bottom: -90px;
}
.header-main__thirdshape {
    position: absolute;
    top: 39px;
    left: 1150px;
}
.header-main__fourthshape {
    position: absolute;
    left: 1180px;
    bottom: -70px;
}

.all-logos {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    width: 600px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 50px;
}
.logos-second {
    width: 600px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



/* END - HEADER AND MAIN */

/* START COLLECTION */


.Collections {
    /* height: 100vh; */
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .site-container {
    margin: 2rem auto;
    max-width: 1156px;
  }
  
  .article_container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;
    padding: 20px;
  }
  
  img {
    max-width: 90%;
  }
  
  .article_content {
    align-items: center;
    text-align: center;
  }
  
  .article_card {
    display: flex;
    flex-direction: column;
  }
  
  figure {
    height: 70%;
  }
  
  .article_content {
    height: 30%;
  }
  
  .article_image {
    text-align: center;
  }
  
  /* .article-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  figure {
    max-width: 200px;
  }
  
  .article-image img {
    /* max-width:100%;*/
  /* height: auto;
    border-radius: 20px 20px 0 0;
  }
  
  .article-card {
    /* background: white; 
    border-radius: 20px;
    transition: 0.3s;
  }
  
  .article-card:hover {
    cursor: pointer;
  }
  
  .article-content {
    padding: 2rem;
  }
  
  .article-content .card-category {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: black;
    display: block;
    text-decoration: none;
  }
  
  .article-content .card-title {
    margin: 1rem 0;
    color: #22447b;
  }
  */
  
  .card-title  {
  width: 412px;
  height: 42px;
  margin-bottom: 29px;
  margin-left:-30px;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }
  
  .card-text {
  color: #532c59;
  }
  
  .article-content .card-text {
  width: 412px;	
  height: 40px;
  margin-top:  30px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px; 
  text-align: center;  
  color: #532c59;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
    } 
    
   .platform__main--title {
  width: 1300px;
  height: 64px;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-align: center;
  margin-bottom:16px;
  color: #000000;  
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
   }
    
   .platform__main--text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 820px;
  height: 48px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 200px;
  text-align: center;
  color: #532C59;
  flex: none;
  order: 0;
  flex-grow: 1;
      
    }

  /*END COLLECTION*/
/* START - OUR-TEAM */
.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.our-team__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.our-team__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    margin-left: 70px;
}
.our-team__title{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

.our-team__desc p{
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin-bottom: 80px;
}
.our-team__desc{
    width: 770px;
}

.our-team__name{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 12px;
}
.tmp{
    padding: 20px;
}
.our-team__position{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;

}

/*SEKTORI WE-PROVIDE */

.we-provide {
    margin-top: 60px;
    height: auto;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info__kolona {
    width: 301px;
    padding: 16px;
}

.info__paragraph {
    width: 269px;
}

.info__paragraph p {
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #532C59;
text-align: center;
}

.info__header{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 12px;
    text-align: center;
}

.info__image {
display: flex;
justify-content: center;
}

.we-provide__desc {
    width: 770px;
}

.we-provide__title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
}

.we-provide__desc p {
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}
/* SEKTORI TESTIMONIALS */
.Testimonials{
    margin-top: 60px;
    height: auto;
}

.Testimonials__title{
    text-align: center;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 70px;
}

.Testimonials__tweets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    -webkit-mask-image: linear-gradient(white,transparent);
    mask-image: initial;
}

.tweet-wrapper {
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
}

.tweet__profile {
    display: flex;
}

.tweet__username {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    line-height: 20px;
}

.tweet__username h4 {
    font-weight: 550;
    letter-spacing: .5px;
}

.tweet__username p{
    font-weight: 400;
    opacity: 0.5;
}

.tweet__content p, .questions__frequent p, .questions__wrapper p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
}

/* SEKTORI QUESTIONNAIRES */

.questionnaires {
    margin-top: 70px;
    height: auto;
}

.questionnaires__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
}

.questions__frequent h1 {
    padding-bottom: 20px;
    font-family: 'Syne';
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
}

.frequent-title h1 {
    padding-right: 20px;
}

.questions__wrapper {
    border: 1px solid #D6BCFA;
    border-radius: 15px;
    width: 410px;
    height: auto;
    padding: 24px;
    margin-bottom: 24px;
}

.questions__wrapper h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
    
}

.questions__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
}

.questions__content img {
    padding-left: 30px;
}

.questions__content img:hover {
    transform: rotateX(180deg);
    cursor: pointer;
}

.questions__wrapper p {
    font-size: 14px;
}

/* SEKTORI FOOTER */
.lastpage{
    height: 446px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    top: 80px;
    border-radius: 60px;
    border: 1px solid #D6BCFA;
    box-shadow: inset 0px 0px 50px #F8E0FA;
    text-align: center;

}
.text{
    justify-content: center;
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 117px;
    font-family: 'Syne';
    font-style: normal;

}
.title{
    font-family: Syne;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0px;
    
 }
 .size{
    margin-left: 295px;
    text-align: center;
    width: 710px;
    height: 48px;
    gap:10px;
 }
 .btn-sell{
    height: 46px;
    width: 156px;
 }

/* RESPONSIVE DESIGN */
@media (max-width:767px) {
    /* START-HEADER-MAIN */
    .firstlist,
    .secondlist {
        visibility: hidden;
    }
    .hamburger {
        visibility: visible;
        margin-left: 15px;
    }
    .header__logo {
        margin-left: -190px;
    }
    .main-flex {
        height: 400px;
    }
    .header-main__firstshape {
        width: 113px;
        height: 114px;
        top: 80px;
        left: -50px;
    }
    .header-main__secondshape {
        width: 122px;
        height: 123px;
        left: -29px;
        bottom: 0;
    }
    .content {
        width: 350px;
        margin: 0;
        margin-left: 35px;
    }
    .content-text {
        width: 400px;
    }
    .content-text__title {
        width: 230px;
        height: 165px;
        font-size: 40px;
        line-height: 56px;
        margin-left: -20px;
        text-align: center;
    }    
    .content-text__text {
        width: 290px;
        height: 95px;
        font-size: 11px;
        line-height: 23px;
        margin-top: 10px;
    }
    .btn {
        font-size: 13px;
        width: 107px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
    }
    .header-main__thirdshape {
        width: 65px;
        height: 67px;
        left: 350px;
        top: 5px;
    }
    .header-main__fourthshape {
        width: 105px;
        height: 105px;
        left: 345px;
        top: 280px;
    }
    .all-logos {
        width: 390px;
        flex-direction: column;
        margin-top: -180px;
    }
    .logos,
    .logos-second {
        width: 350px;
        height: 30px;
        margin-left: 40px;
    }
    .logos img,
    .logos-second img {
        width: 90px;
        height: 28px;
    }
     /* END-HEADER-MAIN */
     /* SEKTORI COLLECTIONS */
     .platform__main--title {
        font-size:30px;
      }
    .platform__main--text {
        font-size:14px;
        padding-right:0;
        padding-left:0;
      }
     main {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    .article_container {
     grid-template-columns: repeat(1, minmax(300px, 1fr));
      }
    .card-title {
    font-size: 12px;
      }
     
    /* SEKTORI WE-PROVIDE */
    .we-provide{
        display: grid;
        justify-content: center;
    }
   .info{
    grid-template-columns: 1fr;
    margin-top: -30px;
   }
   .info__kolona{
    margin-left:40px;
   }
   .we-provide__desc p{
   text-align: center;
   }
   .we-provide__desc {
    width: 400px;
    text-align: center;
    margin-top: 20px;
   }

   /* SEKTORI OUR TEAM*/ 
   .our-team__icons{
    grid-template-columns: 1fr 1fr;  
    margin-right: -20px;
    }
    .our-team__icon{
        margin-right: 0;
        margin-left: 0;
    }
    .our-team__name{
        margin-bottom: 0;
    }
    .our-team__position{
        margin-bottom: 10px;
    }
    .our-team__desc{
    width: 400px;
    text-align: center;
    margin-top: 20px;
    }

    /* SEKTORI TESTIMONIALS */
    .Testimonials {
    overflow: hidden;
    }
    .Testimonials__tweets {
    margin-left: -46%;
    width: 800px;
    }

    /* SEKTORI QUESTIONNAIRES */
    .frequent-title h1 {
        text-align: center;
    }
    .questions__frequent p {
        text-align: center;
        padding-bottom: 20px;
    }
    .test {
        padding-left: 20px;
        padding-right: 20px;
    }
    .questionnaires__content {
        grid-template-columns: 1fr;
    }
    .questions__wrapper {
        width: auto;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .test {
        padding-left: 40px;
        padding-right: 40px;
    }
    /* START-HEADER-MAIN */
    body {
     max-width: 1440px;
    }
    /* .main-flex {
     overflow: hidden;
    } */
    .firstlist,
    .secondlist {
     visibility: hidden;
    }
    
    .hamburger {
     visibility: visible;
    }
    .header__logo {
     margin-left: -30px;
    }
    .header-main__firstshape {
     left: -55px;
    }
    .header-main__secondshape {
     left: -65px;
     bottom: -20px;
     width: 192px;
     height: 193px;
    }
    .header-main__thirdshape {
     top: -10px;
     left: 655px;
    }
    .header-main__fourthshape {
     left: 685px;
     bottom: 10px;
     width: 154px;
     height: 154px;
    }
    .content {
     width: 700px;
     margin: 50px 292px 64px 30px;
     }
     .content-text {
         width: 600px;
         margin-bottom: 0;
     }
     .content-text__text {
         width: 680px;
         font-size: 13px;
         line-height: 23px;
         visibility: hidden;
     }
     .content-text__hidden {
        visibility: visible;
     }
     .btn {
         font-size: 15px;
         width: 110px;
         height: 50px;
         margin-top: -30px;
     }
     .all-logos {
         flex-direction: column;
         margin-top: -100px;
         margin-bottom: 70px;
     }
     .logos {
         width: 450px;
         height: 20px;
         margin-left: 10px;
         margin-bottom: 30px;
     }
     .logos-second {
         width: 450px;
         height: 20px;
     }
     /* SEKTORI OUR TEAM */
     .our-team__icon{
        margin-right: 40px;
        margin-left: 40px;
     }
 }