html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
  }

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header-flex {
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstlist {
    width: 274px;
    height: 44px;
    margin-left: 0px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hamburger {
    width: 26px;
    height: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    visibility: hidden;
}
.hamburger-span::after {
   content: "";
   width: 22px;
   height: 3px;
   background-color: black;
   border-radius: 10px;
   float: left;
}
.hamburger-links {
    display: flex;
    align-items: center;
}
.header-flex a {
    font-family: 'Space Grotesk';
    text-decoration: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}
.secondlist {
    font-family: 'Space Grotesk';
    width: 381px;
    height: 44px;
    margin-right: 70px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.secondlist__link {
    text-decoration: none;
    width: 102px;
}
.secondlist__link--arrow:after {
    content: "";
    background: url(../assets/arrow-down.svg) no-repeat center;
    width: 36px;
    height: 20px;
    float: right;
}
.hero {
    width: 100%;
    height: 574px;
    display: inline-block;
}
.main-flex {
    width: 100%;
    height: 500px;
    margin-top: 28px;
    margin-bottom: 46px;
    display: inline-block;
    position: relative;
    background: url(../assets/bcg-main.svg) no-repeat center;
}
.content {
    width: 800px;
    height: 356px;
    margin: 80px 292px 64px 292px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text {
    width: 800px;
    height: 272px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text__title {
    width: 600px;
    height: 192px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
}
.content-text__text {
    width: 690px;
    height: 46px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}
.content-text__hidden,
.content-text__hiddenmobile{
    margin-top: -57px;
    visibility: hidden;
}

.btn {
    font-family: 'Syne';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 16px 20px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
}
.header-main__firstshape {
    position: absolute;
    top: -23px;
    left: 53px;
}
.header-main__secondshape {
    position: absolute;
    left: 16px;
    bottom: -90px;
}
.header-main__thirdshape {
    position: absolute;
    top: 39px;
    left: 1150px;
}
.header-main__fourthshape {
    position: absolute;
    left: 1180px;
    bottom: -70px;
}

.all-logos {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    width: 600px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 50px;
}
.logos-second {
    width: 600px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
/* END - HEADER AND MAIN */
/* SEKTORI COLLECTIONS  */
.our-team__desc1 p{
    width: 850px;
    margin-left: 300px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    color: #532C59;
}
.collections__kolona {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 50px;
}
.kolona__titulli {
text-align: center;
font-family: 'Syne';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;
color: #000000;
padding-left: 50px;
padding-right: 50px;
}
.kolona__content{
text-align: center;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #532C59;
padding-left: 30px;
padding-right: 30px;
}
.our-team__title1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
    font-size: 40px;
 }
/* SEKTORI OUR-TEAM */

.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.our-team__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.our-team__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.our-team__title{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

.our-team__desc p{
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin-bottom: 80px;
}
.our-team__desc{
    width: 770px;
}

.our-team__name{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 12px;
}
.tmp{
    padding: 20px;
}
.our-team__position{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;

}

/*SEKTORI WE-PROVIDE */

.we-provide {
    margin-top: 60px;
    height: auto;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info__kolona {
    width: 301px;
    padding: 16px;
}

.info__paragraph {
    width: 269px;
}

.info__paragraph p {
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #532C59;
text-align: center;
}

.info__header{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 12px;
    text-align: center;
}

.info__image {
display: flex;
justify-content: center;
}

.we-provide__desc {
    width: 770px;
}

.we-provide__title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

.we-provide__desc p {
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}
/* SEKTORI TESTIMONIALS */

.ct1 {
    max-width: 1270px;
}
.Testimonials{
    margin-top: 60px;
    height: auto;
}

.Testimonials__title{
    text-align: center;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 70px;
}

.Testimonials__tweets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    -webkit-mask-image: linear-gradient(white,transparent);
    mask-image: initial;
}

.tweet-wrapper {
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
}

.tweet__profile {
    display: flex;
}

.tweet__username {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    line-height: 20px;
}

.tweet__username h4 {
    font-weight: 550;
    letter-spacing: .5px;
}

.tweet__username p{
    font-weight: 400;
    opacity: 0.5;
}

.tweet__content p, .questions__frequent p, .questions__wrapper p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
}

/* SEKTORI QUESTIONNAIRES */

.questionnaires {
    margin-top: 70px;
    height: auto;
}

.questionnaires__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}

.row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}
.questions__frequent h1 {
    padding-bottom: 20px;
    font-family: 'Syne';
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
}

.frequent-title h1 {
    padding-right: 40px;
}
.frequent-title{
    width: 412px;
}
.questions__wrapper {
    border: 1px solid #D6BCFA;
    border-radius: 15px;
    width: 410px;
    height: auto;
    padding: 24px;
    margin-bottom: 24px;
}

.questions__wrapper h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
    
}

.questions__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
}

.questions__content img {
    padding-left: 30px;
}

.questions__content img:hover {
    transform: rotateX(180deg);
    cursor: pointer;
}

.questions__wrapper p {
    font-size: 14px;
}

/* SEKTORI NFT */

.lastpage {
    height: 446px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    top: 80px;
    border-radius: 60px;
    border: 1px solid #D6BCFA;
    box-shadow: inset 0px 0px 50px #F8E0FA;
    text-align: center;
    margin-top: 40px;
}

.btn--sell {
    width: 156px;
    margin-left: 570px;
    margin-top: 32px;
}

.main-flex--nobg {
    background: none;
}

.geo {
    display: flex;
    justify-content: space-between;
}
.content1__title h1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-top: -350px;
    margin-bottom: 16px;
}
.content1__para p {
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #532C59;
text-align: center;
}

.header__logo1 {
    margin-left: -200px;
}

/* SEKTORI FOOTER */

.footer {
    margin-top: 30px;
    margin-left: 30px;
}
.firstlist--positioning {
    width: 500px;
}
.header-flex--footer {
    justify-content: space-around;
    margin-bottom: 30px;
}
.secondlist--change {
    margin-right: -60px;
}
.footer__copyright {
    text-align: center;
    opacity: .5;
  }
  .footer__line {
    width: 90%;
    margin-right: 80px;
  }
.footer__subtitle {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
/* RESPONSIVE DESIGN */

@media (max-width:767px) {
    /* START-HEADER-MAIN */
    .firstlist,
    .secondlist {
        visibility: hidden;
        width: 150px;
    }
    .secondlist {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible;
        margin-left: 15px;
    }
    .header__logo {
        margin-left: -70px;
        width: 121px;
    }
    .main-flex {
        margin-top: 0;
        height: 400px;
    }
    .header-main__firstshape {
        width: 113px;
        height: 114px;
        top: 80px;
        left: -50px;
    }
    .header-main__secondshape {
        width: 122px;
        height: 123px;
        left: -29px;
        bottom: 0;
    }
    .content {
        width: 300px;
        margin: 0;
        margin-left: 55px;
    }
    .content-text {
        width: 400px;
    }
    .content-text__title {
        width: 230px;
        height: 150px;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }    
    .content-text__text {
        visibility: hidden;
    }
    .content-text__hiddenmobile {
        width: 290px;
        height: 95px;
        font-size: 16px;
        line-height: 20px;
        margin-top: -20px;
        visibility: visible;
    }
    .btn {
        font-size: 13px;
        width: 107px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -25px;
    }
    .header-main__thirdshape {
        width: 65px;
        height: 67px;
        left: 350px;
        top: 5px;
    }
    .header-main__fourthshape {
        width: 85px;
        height: 85px;
        left: 340px;
        top: 280px;
    }
    .all-logos {
        width: 390px;
        height: 75px;
        flex-direction: column;
        margin-top: -180px;
    }
    .logos,
    .logos-second {
        width: 250px;
        height: 30px;
        margin-left: -10px;
    }
    .logos img,
    .logos-second img {
        width: 90px;
        height: 28px;
    }
     /* END-HEADER-MAIN */
     /* SEKTORI COLLECTIONS */
     .collections__kolona {
        grid-template-columns: 1fr;
     }
     .our-team__desc1 p{
     width: 300px;
     margin-left: 40px;
     }
     .kolona__image{
        width:95%;
        margin-left: 10px;
     }
     .kolona__titulli {
        font-size: 30px;
     }
    /* SEKTORI WE-PROVIDE */
   .we-provide{
        display: grid;
        justify-content: center;
    }
   .info{
    grid-template-columns: 1fr;
    margin-top: -30px;
   }
   .info__kolona{
    margin-left:40px;
   }
   .we-provide__desc p{
   text-align: center;
   }
   .we-provide__desc {
    width: 350px;
    text-align: center;
    margin-top: 0px;
   }

   /* SEKTORI OUR TEAM */ 
   .our-team__icons{
    grid-template-columns: 1fr 1fr;  
    margin-right: -20px;
    }
    .our-team__icon{
        margin-right: 0;
        margin-left: 0;
    }
    .our-team__name{
        margin-bottom: 0;
    }
    .our-team__position{
        margin-bottom: 10px;
    }
    .our-team__desc{
    width: 350px;
    text-align: center;
    margin-top: 20px;
    }

    /* SEKTORI TESTIMONIALS */
    .Testimonials {
    overflow: hidden;
    }
    .Testimonials__tweets {
    margin-left: -46%;
    width: 800px;
    }
    .tweet__username{
        font-size: 14px;
      }

    /* SEKTORI QUESTIONNAIRES */
    .frequent-title h1 {
        text-align: center;
        margin-left: 20px;
    }
    .frequent-content p {
    margin-left: 40px;
text-align: center;
    padding-bottom: 20px;
    }
    .frequent-content{
     width: 380px;
    }
    .test{
        padding-left: 20px;
        padding-right: 20px;
    }
    .questionnaires__content {
        grid-template-columns: 1fr;
    }
    .questions__wrapper {
        width: 370px;
        margin-left: 25px;
    }
    .row2{
        grid-template-columns: 1fr;
    }
     /* SEKTORI NFT + FOOTER */
     .geo {
        display: none;
     }
     .content1__title h1 {
        margin-top: 50px;
        font-size: 45px;
     }
     .btn--sell{
        margin-left: 130px;
        margin-top: 20px;
        width: 150px;
     }
     .content1__para{
        width: 350px;
        margin-left: 20px;
     }
     .header__logo1{
        margin-left: -60px;
     }
     .footer__line{
        margin-left: 30px;
     }
}

@media (min-width:768px) and (max-width:1024px) {
    .test {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* START-HEADER-MAIN */
    body {
     max-width: 1440px;
    }
   .header-flex {
    width: 90%;
   }
    .main-flex {
     overflow: hidden;
     margin-top: 0;
    }
    .firstlist,
    .secondlist {
     visibility: hidden;
     width: 150px;
    }
    
    .hamburger {
     visibility: visible;
    }
    .header__logo {
     margin-left: -30px;
     margin-top: 10px;
     width: 151px;
     height: 40px;
    }
    .header-main__firstshape {
     left: -55px;
    }
    .header-main__secondshape {
     left: -65px;
     bottom: -20px;
     width: 192px;
     height: 193px;
    }
    .header-main__thirdshape {
     top: -10px;
     left: 655px;
    }
    .header-main__fourthshape {
     left: 685px;
     bottom: 20px;
     width: 154px;
     height: 154px;
    }
    .content {
     width: 700px;
     margin: 50px 292px 64px 30px;
     }
     .content-text {
         width: 600px;
         margin-bottom: 0;
     }
     .content-text__text {
         width: 680px;
         font-size: 13px;
         line-height: 23px;
         visibility: hidden;
     }
     .content-text__hidden {
        visibility: visible;
     }
     .btn {
         font-size: 15px;
         width: 110px;
         height: 50px;
         margin-top: -30px;
     }
     .all-logos {
         flex-direction: column;
         height: 100px;
         margin-top: -120px;
         margin-bottom: 70px;
     }
     .logos {
         width: 450px;
         height: 30px;
         margin-left: 10px;
         margin-bottom: 15px;
     }
     .logos-second {
         width: 450px;
         height: 30px;
     }
     /* SEKTORI COLLECTIONS */
  .kolona__image img{
    width: 90%;
    margin-bottom: 20px;
  }
  .kolona__titulli{
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .our-team__desc1 p{
    margin-left: 30px;
    width: 700px;
  }
  .collections__kolona{
    margin-left: 20px;
  }
     /* SEKTORI OUR TEAM */
     .our-team__icon {
        margin-right: 40px;
        margin-left: 40px;
     }
     .our-team__desc {
        width: 700px;
     }

     /* SEKTORI WE PROVIDE */
     .we-provide__desc {
        width: 500px;
     }
     .info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
     }
     /* SEKTORI TESTIMONIALS */
     .test1{
        padding-left: 15px;
        padding-right: 15px;
     }
     .tweet__username{
       font-size: 14px;
     }
     /* SEKTORI QUESTIONNAIRES */
     .questionnaires__content{
        grid-template-columns: 1fr 1fr;
    }

     .questions__wrapper{
        width: 350px;
     }
     .frequent-title h1{
        font-size: 37px;
        padding: 0px;
     }
     .frequent-title{
        width: 300px;
        margin-right: -40px;
     }
     .row2{
        grid-template-columns: 1fr;
     }
      /* SEKTORI NFT + FOOTER*/
    .content1__title {
        width: 300px;
        margin-left: 250px;
    }
    .content1__para{
        width: 300px;
        margin-left: 250px;
    }
     .content1__title h1 {
       font-size: 34px;
       line-height: 50px;
       margin-top: -330px;
     }
     .btn--sell{
        margin-left: 320px;
        margin-top: 20px;
        width: 150px;
     }
     .header__logo1{
        margin-left: -60px;
     }
     .footer__line{
        margin-left: 30px;
     }
     .geo img{
        margin-top: 20px;
        width: 30%;
     }
 }