html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header-flex {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstlist {
    width: 274px;
    height: 44px;
    margin-left: 70px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-flex a {
    text-decoration: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}
.secondlist {
    width: 315px;
    height: 44px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.secondlist__link {
    text-decoration: none;
}
.secondlist__link--arrow:after {
    content: "";
    background: url(../assets/arrow-down.svg) no-repeat center;
    width: 20px;
    height: 20px;
    float: right;
}
.hero {
    width: 100%;
    height: 574px;
    display: inline-block;
}
.main-flex {
    width: 100%;
    height: 500px;
    margin-top: 28px;
    margin-bottom: 46px;
    display: inline-block;
    position: relative;
    background: url(../assets/bcg-main.svg) no-repeat center;
}
.content {
    width: 800px;
    height: 356px;
    margin: 80px 292px 64px 292px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text {
    width: 800px;
    height: 272px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text__title {
    width: 600px;
    height: 192px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
}
.content-text__text {
    width: 650px;
    height: 48px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}
.btn {
    font-family: 'Syne';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 16px 20px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
}
.header-main__firstshape {
    position: absolute;
    top: -23px;
    left: 53px;
}
.header-main__secondshape {
    position: absolute;
    left: 16px;
    bottom: -90px;
}
.header-main__thirdshape {
    position: absolute;
    top: 39px;
    left: 1150px;
}
.header-main__fourthshape {
    position: absolute;
    left: 1180px;
    bottom: -70px;
}

.all-logos {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos {
    width: 1100px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.ispum1 {
    margin-left: 40px;
}
/* END - HEADER AND MAIN */

/* START - MEDIA FOR HEADER AND MAIN */






.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-team__icons {
    display: flex;
    gap: 32px;
}

.our-team__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 110px 20px 110px;
}
.our-team__title{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

.our-team__desc {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin-bottom: 80px;
}
.our-team__name{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 12px;
}
.our-team__position{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;

}
/* SECOND PART*/
.we-provide {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.we-provide__icons {
    display: flex;
    gap: 32px;
}

.we-provide__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 110px 20px 110px;
}
.we-provide__title{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
   margin-bottom: 24px;
}

.we-provide__desc {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
    margin-bottom: 40px;
}
.we-provide__position{
    width: 50%;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
}

/* SEKTORI TESTIMONIALS */

.test{
    max-width: 1300px;
}

.Testimonials{
    margin-top: 60px;
    height: 870px;
}

.Testimonials__title{
    text-align: center;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 70px;
}

.Testimonials__tweets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    -webkit-mask-image: linear-gradient(white,transparent);
    mask-image: initial;
}

.tweet-wrapper {
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
}

.tweet__profile {
    display: flex;
}

.tweet__username {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    line-height: 20px;
}

.tweet__username h4 {
    font-weight: 550;
    letter-spacing: .5px;
}

.tweet__username p{
    font-weight: 400;
    opacity: 0.5;
}

.tweet__content p, .questions__frequent p, .questions__wrapper p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
}

/* SEKTORI QUESTIONNAIRES */

.questionnaires {
    height: 600px;
}

.questionnaires__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
}

.questions__frequent h1 {
    padding-bottom: 20px;
    font-family: 'Syne';
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
}

.frequent-title h1 {
    padding-right: 40px;
}

.questions__wrapper {
    border: 1px solid #D6BCFA;
    border-radius: 15px;
    width: 410px;
    height: auto;
    padding: 24px;
    margin-bottom: 24px;
}

.questions__wrapper h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
    
}

.questions__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
}

.questions__content img {
    padding-left: 30px;
}

.questions__content img:hover {
    transform: rotateX(180deg);
    cursor: pointer;
}

.questions__wrapper p{
    font-size: 14px;
}
.lastpage{
    height: 446px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    top: 80px;
    border-radius: 60px;
    border: 1px solid #D6BCFA;
    box-shadow: inset 0px 0px 50px #F8E0FA;

}
