html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
header {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstlist {
    width: 274px;
    height: 44px;
    margin-left: 70px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header a {
    text-decoration: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}
.secondlist {
    width: 315px;
    height: 44px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.secondlist__link {
    text-decoration: none;
}
.secondlist__link--arrow:after {
    content: "";
    background: url(../assets/arrow-down.svg) no-repeat center;
    width: 20px;
    height: 20px;
    float: right;
}
.hero {
    width: 100%;
    height: 574px;
    display: inline-block;
}
.header-main {
    width: 100%;
    height: 500px;
    margin-top: 28px;
    margin-bottom: 46px;
    display: inline-block;
    position: relative;
    background: url(../assets/bcg-main.svg) no-repeat center;
}
.content {
    width: 800px;
    height: 356px;
    margin: 80px 292px 64px 292px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text {
    width: 800px;
    height: 272px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-text__title {
    width: 600px;
    height: 192px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
}
.content-text__text {
    width: 650px;
    height: 48px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}
.btn {
    font-family: 'Syne';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 16px 20px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
}
.header-main__firstshape {
    position: absolute;
    top: -23px;
    left: 53px;
}
.header-main__secondshape {
    position: absolute;
    left: 16px;
    bottom: -90px;
}
.header-main__thirdshape {
    position: absolute;
    top: 39px;
    left: 1162px;
}
.header-main__fourthshape {
    position: absolute;
    right: 33px;
    bottom: -70px;
}

.all-logos {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos {
    width: 1100px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.ispum1 {
    margin-left: 40px;
}
/* END - HEADER AND MAIN */


.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-team__icons {
    display: flex;
    gap: 32px;
}

.our-team__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 110px 20px 110px;
}
.our-team__title{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

.our-team__desc {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin-bottom: 80px;
}
